<head>
        <style type="text/css">
            .ocultar {
                display: none;
            }

            .mostrar {
                display: block;
            }

            .colorOk{
                color: green;
            }

            .colorErr{
                color: red;
            }
        </style>
</head>

<div class="container-fluid bg-light">

    <h1>Nueva contraseña</h1>

    <h4>¡Atención! Para ingresar la nueva contraseña y actualizarla es necesario insertar el código enviado vía email.</h4>

<form name="FormNewPassword" [formGroup]='FormNewPassword' class="bg-light" novalidate>


    <!--campo código-->
    <div class="form-group row">
        <label class="col-form-label col-12">Código: <span
                class="text-danger">*</span></label>
        <div class="col-12">
            <input type="text" class="form-control" formControlName="Codigo" id="Codigo" autocomplete="new-text"
        [ngClass]="{'is-invalid': (FormNewPassword.controls.Codigo.touched || submitted)  
        && FormNewPassword.controls.Codigo.errors}" (keyup)="validarCodigo($event.target.value)" minlength="7" maxlength="7"/>

            <span class="text-danger" *ngIf="(FormNewPassword.controls.Codigo.touched || submitted) 
                    && FormNewPassword.controls.Codigo.errors?.required">
                Dato requerido.
            </span> 
          
             
         </div>
    </div>


    <!--campo nueva contraseña-->
    <div class="form-group row" id="divPassword" hidden>
        <label class="col-form-label col-12">Ingrese la nueva contraseña: <span
                class="text-danger">*</span></label>
        <div class="col-12">
            <input type="password" class="form-control" formControlName="Password" id="Password" autocomplete="new-password"
        [ngClass]="{'is-invalid': (FormNewPassword.controls.Password.touched || submitted)  
        && FormNewPassword.controls.Password.errors}" minlength="8" maxlength="18"/>

            <span class="text-danger" *ngIf="(FormNewPassword.controls.Password.touched || submitted) 
                    && FormNewPassword.controls.Password.errors?.required">
                Dato requerido.
            </span>
          
            <span class="text-danger" *ngIf="(FormNewPassword.controls.Password.errors?.minlength || FormNewPassword.controls.Password.errors?.maxlength) ">
                8 caracteres como mínimo.
                18 caracteres como máximo.
            </span>

        </div>
    </div>

    <div class="form-group row" id="divPassword2" hidden>
        <label class="col-form-label col-12">Repita la nueva contraseña: <span
                class="text-danger">*</span></label>
        <div class="col-12">
            <input type="password" class="form-control" formControlName="Password2" id="Password2" autocomplete="new-password"
        [ngClass]="{'is-invalid': (FormNewPassword.controls.Password2.touched || submitted)  
        && FormNewPassword.controls.Password2.errors}" minlength="8" maxlength="18"/>

            <span class="text-danger" *ngIf="(FormNewPassword.controls.Password2.touched || submitted) 
                    && FormNewPassword.controls.Password2.errors?.required">
                Dato requerido.
            </span>

            <strong><span class="ocultar" id="matchPassword">
            </span></strong>

        </div>
    </div>

        
    <!-- Botones Verificar Contraseñas, Grabar, Cancelar/Volver' -->

    <div class="row justify-content-center">
        <div class="container col-12">
             <button type="button" class="btn btn-primary " id="verificarPass" (click)="verificarPasswords()" disabled>
                 <span class="fas fa-check"></span> Verificar contraseñas
            </button>
        </div>
    </div><br>  

    <div class="row justify-content-center">
        <div class="container col-12">
            <button type="button" class="btn btn-primary " (click)="newPassword()" id="newPassword" disabled>
                <span class="fas fa-check"></span> Actualizar contraseña
            </button>
        </div>
    </div>
    
    <div id="divMsjFormNewPassword" *ngIf="submitted && FormNewPassword.invalid" class="row alert alert-danger">
        <span class="fas fa-exclamation-sign"></span>{{Mensajes['RD']}}
    </div>

</form>

</div>