
<app-home></app-home>
<div class="container">
<form name="FormDomicilio" [formGroup]='FormDomicilio'>
     <!--campo idPais-->
     <div class="form-group row">
        <label class="col-form-label col-12" >
            Pais: <span class="text-danger">*</span>
        </label>
        <div class="col-12">
            <select  class="form-control" formControlName="Pais" (change)='cargarProvincias()'
            [ngClass]="{'is-invalid': (FormDomicilio.controls.Pais.touched || submitted)  
            && FormDomicilio.controls.Pais.errors}" >
                <option *ngFor="let opt of Paises" [ngValue]="opt.idPais">
                    ‌{{ opt.nombrePais}}
                <option>
            </select>
            <span class="text-danger" *ngIf="(FormDomicilio.controls.Pais.touched || submitted) 
                    && FormDomicilio.controls.Pais.errors?.required">
                Dato requerido.
            </span>
          
        </div>
      </div>
       <!--campo idProvincia-->
       <div class="form-group row">
        <label class="col-form-label col-12" >
            Provincia: <span class="text-danger">*</span>
        </label>
        <div class="col-12">
            <select  class="form-control" formControlName="Provincia"  (change)='cargarLocalidades()'
            [ngClass]="{'is-invalid': (FormDomicilio.controls.Provincia.touched || submitted)  
            && FormDomicilio.controls.Provincia.errors}" >
                <option *ngFor="let opt of Provincias" [ngValue]="opt.idProvincia">
                    ‌{{ opt.nombreProvincia }}
                <option>
            </select>
            <span class="text-danger" *ngIf="(FormDomicilio.controls.Provincia.touched || submitted) 
                    && FormDomicilio.controls.Provincia.errors?.required">
                Dato requerido.
            </span>
          
        </div>
      </div>
      <!--campo idLocalidad-->
      <div class="form-group row">
        <label class="col-form-label col-12" >
            Localidad: <span class="text-danger">*</span>
        </label>
        <div class="col-12">
            <select  class="form-control" formControlName="Localidad" 
            [ngClass]="{'is-invalid': (FormDomicilio.controls.Localidad.touched || submitted)  
            && FormDomicilio.controls.Localidad.errors}" >
                <option *ngFor="let opt of Localidades" [ngValue]="opt">
                    ‌{{ opt.nombreLocalidad }}
                <option>
            </select>
            <span class="text-danger" *ngIf="(FormDomicilio.controls.Localidad.touched || submitted) 
                    && FormDomicilio.controls.Localidad.errors?.required">
                Dato requerido.
            </span>
          
        </div>
      </div>
    <!--campo calle-->
    <div class="form-group row">
        <label class="col-form-label col-12">Calle: <span
        class="text-danger">*</span></label>
        <div class="col-12">
            <input type="text" class="form-control" formControlName="Calle"
            [ngClass]="{'is-invalid': (FormDomicilio.controls.Calle.touched || submitted)  
            && FormDomicilio.controls.Calle.errors}" />
            <span class="text-danger" *ngIf="(FormDomicilio.controls.Calle.touched || submitted) 
            && FormDomicilio.controls.Calle.errors?.required">
            Dato requerido.
            </span>         
        </div>
    </div>
    <!--campo numero-->
    <div class="form-group row">
        <label class="col-form-label col-12">Numero: <span
        class="text-danger">*</span></label>
        <div class="col-12">
            <input type="text" class="form-control" formControlName="Numero"
            [ngClass]="{'is-invalid': (FormDomicilio.controls.Numero.touched || submitted)  
            && FormDomicilio.controls.Numero.errors}" />
            <span class="text-danger" *ngIf="(FormDomicilio.controls.Numero.touched || submitted) 
            && FormDomicilio.controls.Numero.errors?.required">
            Dato requerido.
            </span>         
        </div>
    </div>
    <!--campo barrio-->
    <div class="form-group row">
        <label class="col-form-label col-12">Barrio: <span
        class="text-danger">*</span></label>
        <div class="col-12">
            <input type="text" class="form-control" formControlName="Barrio"
            [ngClass]="{'is-invalid': (FormDomicilio.controls.Barrio.touched || submitted)  
            && FormDomicilio.controls.Barrio.errors}" />
            <span class="text-danger" *ngIf="(FormDomicilio.controls.Barrio.touched || submitted) 
            && FormDomicilio.controls.Barrio.errors?.required">
            Dato requerido.
            </span>         
        </div>
    </div>
    <!--campo codigoPostal-->
    <div class="form-group row">
        <label class="col-form-label col-12">Cod. Postal: <span
        class="text-danger">*</span></label>
        <div class="col-12">
            <input type="text" class="form-control" formControlName="CP"
            [ngClass]="{'is-invalid': (FormDomicilio.controls.CP.touched || submitted)  
            && FormDomicilio.controls.CP.errors}" />
            <span class="text-danger" *ngIf="(FormDomicilio.controls.CP.touched || submitted) 
            && FormDomicilio.controls.CP.errors?.required">
            Dato requerido.
            </span>         
        </div>
    </div>      
    <div class="row justify-content-center">
        <div class="container col-12">
            <button type="button" class="btn btn-primary " (click)="Grabar()" id="Grabar">
                <span class="fas fa-check"></span> Guardar Cambios
            </button>
            &nbsp;
            <button type="button" class="btn btn-danger" (click)="cancelar()">
                <span class="fas fa-undo"></span> Cancelar actualizacion de domicilio
            </button>
        </div>
    </div>
   
</form>
</div>