
<div class="container">

  <div class="container mt-5 mb-4">
    <h3>Subir foto Documento</h3>
  </div>

  <div class="card-deck">

    <div class="card">

      <div class="contenedorFoto">
        <span>
          <a href="*">
            <img class="card-img-top rounded-circle" src="../../../assets/img/photo-boton.jpg" alt="foto dni frente">
          </a>
          <p class="card-text">Frente</p>
        </span>

        <span>
          <a href="*">
            <img class="card-img-top rounded-circle" src="../../../assets/img/photo-boton.jpg" alt="foto dni dorso">
          </a>
          <p class="card-text">Dorso</p>
        </span>
      </div>  

      <div class="card-body">

        <div>
          <button type="button" class="btn btn-light" (click)="cancelar()">Cancelar</button>
        </div>
        <div>
          <button type="button" class="btn btn-warning" (click)="subir()">Subir</button>
        </div>

      </div>

    </div>

  </div>

</div>
