<app-home></app-home>

<div class="container">
<form name="formGiro" [formGroup]='formGiro'>
    <!-- <div *ngIf = "saldoActual">
        <label class="col-form-label col-12" id="saldo_disponible">Saldo Disponible: ${{saldoActual}} </label>
    </div> -->
    <div>
      <label class="col-form-label col-12" id="saldo_disponible">Saldo + Giro al Descubierto disponible: ${{saldoActual * 1.1}} </label>
    </div>
    

    <label for="montoRetiroPesos">Ingrese el monto</label>
    <div>
      <input id="montoRetiroPesos" type="text" formControlName='montoRetiroPesos' [ngClass]="{'is-invalid': (formGiro.controls.montoRetiroPesos.touched || submitted)  
    && formGiro.controls.montoRetiroPesos.errors}" />
      <span class="text-danger" *ngIf="(formGiro.controls.montoRetiroPesos.touched || submitted) 
                && formGiro.controls.montoRetiroPesos.errors?.required">
        Dato requerido.
      </span>
      <span class="text-danger" *ngIf="(formGiro.controls.montoRetiroPesos.errors?.min) ">
        Ingrese valor mayor a 0.
      </span>
      <span class="text-danger" *ngIf="formGiro.controls.montoRetiroPesos.errors?.pattern">
        Sólo caracteres numéricos.
      </span>
      <span class="text-danger" *ngIf="(validarMontoMin)">
        El monto mínimo debería ser mayor a ${{saldoActual}}
      </span>
      <span class="text-danger" *ngIf="(validarMontoMax)">
        El monto máximo debería ser ${{saldoActual * 1.1}}
      </span>
    </div>

  </form>
  <br>

  <div id="confirmarExtraccionGiro">
    <button type="button" class="btn btn-warning btn-primary w-100" (click)="confirmarGiro()">Confirmar
      Giro al Descubierto</button>
  </div>
  <br>
  <div id="condicionesGiro">
    <button type="button" class="btn btn-outline-warning w-100" (click)="condicionesGiro()">Condiciones Giro al Descubierto
      Giro al Descubierto</button>
  </div>


</div>
