<app-home></app-home>


<div class="container justify-content-center" id="contenedor_principal" >

    <h2 class="w-100 usuario-home text-success">Hola! {{nombreCompleto}}</h2>

    <div class="container">
        <div class="card"  id="advertencia_container" style="width: 90%">
            <div class="row no-gutters" id="advertencia_container_2">
                <span class="col" *ngIf='active==1'>
                    <img id="advertencia" src="assets/img/success.jpg" class="card-img-top" alt="advertencia">
                </span>
                <span class="col" *ngIf='active==0'>
                    <img id="advertencia" src="assets/img/advertencia.png" class="card-img-top" alt="advertencia">
                </span>
                <span class="col" id="advertenciaText">
                    <span class="card-body">                        
                        <p class="card-text" *ngIf='active==0'>Para ACTIVAR tu cuenta, completa tus datos en</p>
                        <p class="card-text text-success font-weight-bold" *ngIf='active==1'>Cuenta activa</p>
                        <button class="btn btn-primary" (click)=miPerfil()>Mi Perfil</button>
                    </span>
                </span>               
            </div>
        </div>
    </div>   

    <a class="enlace btn " (click)="cuentaEnPesos()">  
        <div class="boton_dineroDisponible">
            <div class="container">
                <div class="card img-fluid border-0" style="width: 90%">
                    <img class="card-img-top" src="assets/img/cuentapesos.jpg" alt="cuenta pesos">
                </div>
            </div> 
        </div>
    </a>
    <a (click)="cuentaEnDolares()" class="enlace btn">
        <div class="boton_dineroDisponible">
            <div class="container">
                <div class="card img-fluid border-0" style="width: 90%">
                    <img class="card-img-top" src="assets/img/cuentadolares.jpg" alt="cuenta dolares">
                </div>
            </div> 
        </div>
    </a>
    
    <a routerLink="/transacciones" class="enlace btn" >
        <div class="boton_dineroDisponible">
            <div class="container">
                <div class="card img-fluid border-0" style="width: 90%">
                    <img class="card-img-top" src="assets/img/transacciones.jpg" alt="transacciones">
                </div>
            </div> 
        </div>
    </a>
    <a (click)="movimientos()"  class="enlace btn">
        <div class="boton_dineroDisponible">
            <div class="container">
                <div class="card img-fluid border-0" style="width: 90%">
                    <img class="card-img-top" src="assets/img/movimientos.jpg" alt="movimientos">
                </div>
            </div> 
        </div>
    </a>


</div>
