<app-home></app-home>
<div class="container">

    <!--     <div class="container">
        <div class="card img-fluid" style="width: 80%">
            <img class="card-img-top" src="assets/img/advertencia.png" alt="Completa-tu-perfil" style="width:100%">
            <div class="card-img-overlay">
                <h4 class="card-title"> </h4>
                <p class="card-text"> </p>
                <a href="#" class="btn btn-primary">Mi Perfil</a>
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="card" style="width: 80%">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img id="advertencia" src="assets/img/advertencia.png" class="card-img-top" alt="advertencia">
                </div>
                <div class="col-sm-7" id="advertenciaText">
                    <div class="card-body">
                        <!-- <h5 class="card-title">Alice Liddel</h5> -->
                        <p class="card-text">Para ACTIVAR tu cuenta, completa tus datos en</p>
                        <button class="btn btn-primary">Mi Perfil</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card bg-light mb-3 mt-2" id="dineroDisponible" style="width: 80%">
            <!-- <div class="card-header"></div> -->
            <div class="card-body">
                <h5 class="card-title">Dinero disponible</h5>
                <p class="card-text">$0</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card img-fluid" style="width: 80%">
            <img class="card-img-top" src="assets/img/chico-celu.png" alt="Operaciones" style="width:100%">
            <div class="card-img-overlay">
                <h4 class="card-title"> </h4>
                <p class="card-text"> </p>
                <button class="btn btn-primary">Operaciones</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card img-fluid" style="width: 80%">
            <img class="card-img-top" src="assets/img/chica-shop.png" alt="Historial" style="width:100%">
            <div class="card-img-overlay">
                <h4 class="card-title"> </h4>
                <p class="card-text"> </p>
                <button class="btn btn-primary">Historial</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card img-fluid" style="width: 80%">
            <img class="card-img-top" src="assets/img/chanchito.png" alt="Cuentas" style="width:100%">
            <div class="card-img-overlay">
                <h4 class="card-title"> </h4>
                <p class="card-text"> </p>
                <button class="btn btn-primary">Cuentas</button>
            </div>
        </div>
    </div>

</div>