<app-home></app-home>
<div class="container">
    <!-- <img class="w-100 img-fluid" src="assets/img/fondo-money-clip-logo.png" alt="Imagen-Externa"> -->

    <div class="container">
        <div class="card img-fluid" style="width: 80%">
            <img class="card-img-top" src="assets/img/Advertencia.png" alt="Advertencia" style="width:100%">
            <div class="card-img-overlay bg-light text-dark">
                <h4 class="card-title"> </h4>
                <p class="card-text">Para ACTIVAR tu cuenta, completa tus datos en</p>
                <a href="#" class="btn btn-primary">Mi Perfil</a>
            </div>
        </div>
    </div>

<!--     <div class="container">
        <div class="card bg-light text-dark">
            <div class="card-body">Light card</div>
            <p class="card-text">Para ACTIVAR tu cuenta, completa tus datos en "Mi Perfil"</p>
            <a href="#" class="btn btn-primary"> texto link </a>
        </div>
    </div> -->

    <div class="container">
        <div class="card bg-light text-dark">
            <div class="card-body">Light card</div>
            <h4 class="card-title">Dinero Disponible</h4>
            <p class="card-text">$0</p>
            <a href="#" class="btn btn-primary"> texto link </a>
        </div>
    </div>

    <div class="container">
        <div class="card img-fluid" style="width: 80%">
            <img class="card-img-top" src="assets/img/chico-celu.png" alt="Operaciones" style="width:100%">
            <div class="card-img-overlay">
                <h4 class="card-title"> </h4>
                <p class="card-text"> </p>
                <a href="#" class="btn btn-primary">Operaciones</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card img-fluid" style="width: 80%">
            <img class="card-img-top" src="assets/img/chica-shop.png" alt="Historial" style="width:100%">
            <div class="card-img-overlay">
                <h4 class="card-title"> </h4>
                <p class="card-text"> </p>
                <a href="#" class="btn btn-primary">Historial</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card img-fluid" style="width: 80%">
            <img class="card-img-top" src="assets/img/chanchito.png" alt="Cuentas" style="width:100%">
            <div class="card-img-overlay">
                <h4 class="card-title"> </h4>
                <p class="card-text"> </p>
                <a href="#" class="btn btn-primary">Cuentas</a>
            </div>
        </div>
    </div>

</div>