<<<<<<< HEAD
.navbar .navbar-nav{
  display: flex;
  justify-content: space-between;
  
}

.navbar{
  margin-bottom: 50px;
}
=======
.navbar .navbar-nav {
  display: flex;
  justify-content: space-between;
}

.navbar {
  margin-bottom: 50px;
}
>>>>>>> 1fc2e7c1e34889d804a6302942e5f8254646fa54
