<header>
    <div id="mySidepanel" class="sidepanel">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <img src="assets/img/persona.jpg" alt="foto-usuario">
    <p class="usuario">Usuario</p>
    <a href="#">Operaciones</a>
    <a href="#">Cuentas</a>
    <a href="#">Historial</a>
    <br>
    <br>
    <a href="#">Ayuda</a>
    <a href="#">Mi Perfil</a>
    <a href="#">Configuración</a>
    <br>
    <a href="#">Quienes somos?</a>
    <!-- hacer un modal con nuestros nombres -->
    <a class="nav-link" (click)="Cerrar()" routerLiynk="/login">Salir</a>
    
  </div>


  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <button class="openbtn" (click)="openNav()">&#9776;</button>

  <p class="usuario-home">Hola! Usuario</p>
</header>