/*sidepanel menu */

#navbar{
  display: none;
}

.sidepanel {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  /* padding-top: 0; */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  padding: 10px;
}

/*sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: medium;
  color: #5e5b52;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #1e3888;
  background-color: #e9ebf8;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: xx-large;
  margin-left: 50px;
  color: #1e3888;
}

.openbtn {
  font-size: 25px;
  cursor: pointer;
  background-color: white;
  color: #1e3888;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #5e5b52;
}

img {
  padding: 10px;
  border-radius: 100%;
  max-width: 100px;
}

p {
  padding: 5px;
  margin-left: 10px;
  color: #1e3888;
}

.usuario-home {
  float: right;
  margin-right: 10px;
  padding: 10px;
}

footer {
  background-color: #1e3888;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vh;
  color: white;
}

<<<<<<< HEAD
@media only screen and (min-width: 600px) {
 #mySidepanel{
   display: none;
 }

#navbar{
  display: block;
  
}
}
=======
#quienesSomosBtn{
  color: black;
  background: none;
  border: none;

}

#quienesSomosBtn:hover{
  color: blue;
}
>>>>>>> a791af0ec6a1dfd1cce32a69365b9786a30a02f4
