
<form name="FormRegistro" [formGroup]='FormRegistro'>

    <div class="form-group row">
        <label class="col-form-label col-12">Usuario: <span
                class="text-danger">*</span></label>
        <div class="col-12">
            <input type="text" class="form-control" formControlName="Usuario"
     [ngClass]="{'is-invalid': (FormRegistro.controls.Usuario.touched || submitted)  
        && FormRegistro.controls.Usuario.errors}" />
          <!--   cuando halla validators, poner esta parte -->

            <span class="text-danger" *ngIf="(FormRegistro.controls.Usuario.touched || submitted) 
                    && FormRegistro.controls.Usuario.errors?.required">
                Dato requerido.
            </span>

        </div>
    </div>
    

</form>