<div class="container">
    <div class="abs-center">

        <body>
            <img src="assets/img/fondo-money-clip-logo.png" alt="logo-billetera-virtual-moneyClip">
            
            <form action="#">

                <h2 class="texto">Inicia sesión con tu Cuenta</h2>
                <input type="email" id="email" class="input-campo" placeholder="Email" autocomplete="off" required>
                <br>
                <input type="password" id="pass" class="input-campo" placeholder="Contraseña" autocomplete="off" required>
                <br>
                <button (click)="loginCuenta()" id="boton-login">LOGIN</button>
                
                <a href="" (click)="forgotPassword()">No recuerdo mi contraseña</a>

                <h2 class="texto">No tengo Cuenta</h2>
                <button>CREAR CUENTA</button>

            </form>
        </body>
    </div>
</div>