h2{
    color: #5E5B52;
    font-family: sans-serif;
    font-size: medium;
}

button{
    color: #5E5B52;
    background-color: #FDCA40;
}

a{
    color: #1E3888;
}

input{
    background-color: #E9EBF8;
}