<div class="container-fluid">

    <header>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="" alt="logo-billetera-virtual-moneyClip">
            </div>
        </div>
    </header>

    <body>
        <form action="">

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <h2 class="titulo-login">Inicia sesión con tu Cuenta</h2>
                    <input type="email" id="email" placeholder="Email" autocomplete="off" required>
                    <br>
                    <input type="password" id="pass" placeholder="Contraseña" autocomplete="off" required>
                    <br>
                    <button (click)="loginCuenta()">LOGIN</button>
                    <br>
                    <a href="" (click)="forgotPassword()">No recuerdo mi contraseña</a>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <h2>No tengo Cuenta</h2>
                    <button>CREAR CUENTA</button>
                </div>
            </div>
        </form>
    </body>

</div>