<app-home></app-home>

<div class="container">
  <div class="card">
    <div class="card-header">
      Condiciones sobre Giro al Descubierto
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title"></h5> -->
      <!-- <p class="card-text"> -->
        <!-- Modalidad de Pago del Giro al Descubierto
        Monto permitido del Giro al Descubierto
        Exclusividad de Giro al Descubierto en EXTRACCIONES y no en Transferencias -->

        <h2>Términos y condiciones para realizar giros al descubierto.</h2>
<br>
La app <b>Money Clip</b> permite a sus usuarios realizar giros al descubierto en caso de <i>no contar
con saldo suficiente para realizar una extracción</i>
<br>
<h3>Las condiciones del servicio son las siguientes</h3>
<ul style="list-style-type:circle">
<li>El importe del giro al descubierto tendrá como límite máximo un 10% del saldo disponible para la operación que se quiere realizar.</li>
<li>No se podrá realizar giros al descubierto en caso de contar con saldo negativo.</li>
<li>Este servicio <b>sólo se puede utilizar para realizar extracciones</b>, no transferencias.</li>
<li>Al producirse un nuevo ingreso, deberá saldar la deuda contraída con la app.</li>
</ul>
      <!-- </p> -->
    </div>
  </div>
<br>
  <a type="button" class="btn btn-primary" routerLink="/giro-descubierto">
    <span class="fas fa-undo"></span> Entendido! volver atrás
  </a>
</div>
