<app-home></app-home>

<div class="container">
<table class="table table-striped table-dark table-responsive">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Monto</th>
        <th scope="col">Tipo de Transacción</th>
        <th scope="col">Origen</th>
        <th scope="col">Destino</th>
        <th scope="col">Estado de Transacción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let opt of operaciones">
        <td>{{ opt.idOperacion }}</td>
        <td>{{ opt.fechaOperacion }}</td>
        <td>$ {{ opt.monto }}</td>
        <td>{{ opt.tipoOperacion.nombreOperacion }}</td>
        <td>{{ opt.cvuDesde }}</td>
        <td>{{ opt.cvuHasta }}</td>
        <td>{{ opt.estadoOperacion.nombreEstadoOperacion }}</td>
      </tr>
    </tbody>
  </table>
</div>
