<p>transacciones works!</p>
<div class="container1">
        <div class="col">
            <div class="ingresarDinero">
                <div class="justify-content-center">
                    <button type="button" class="btn btn-primary w-100" (click)="ingresarDinero()">Ingresar Dinero</button>
                </div>
            </div>
            <div= class="retirarDinero">
                <div class="justify-content-center">
                    <button type="button" class="btn btn-primary w-100" (click)="retirarDinero()">Retirar Dinero</button>
                </div>
            </div>
</div>
<div class="container2">
    <div class="col">
        <div class="ingresarPesos">
            <div class="justify-content-center">
                <button type="button" class="btn btn-primary w-100" (click)="ingresarPesos()">Ingresar Pesos</button>
            </div>
        </div>
        <div class="ingresarDolares">
            <div class="justify-content-center">
                <button type="button" class="btn btn-primary w-100" (click)="ingresarDolares()">Ingresar Dolares</button>
            </div>
        </div>
    </div>
</div>

<div class="container3">
    <div class="col">
        <div class="retirarPesos">
            <div class="justify-content-center">
                <button type="button" class="btn btn-primary w-100" (click)="retirarPesos()">Retirar Pesos</button>
            </div>
        </div>
        <div class="retirarDolares">
            <div class="justify-content-center">
                <button type="button" class="btn btn-primary w-100" (click)="retirarDolares()">Retirar Dolares</button>
            </div>
        </div>
    </div>
</div>

            <!-- /div>
            <div class="row">
                <div class="card-img-overlay">
                    <h4 class="card-title"> </h4>
                    <p class="card-text"> </p>
                    <button class="btn btn-primary">Retirar en Pesos</button>
                </div>
                <div class="card-img-overlay">
                    <h4 class="card-title"> </h4>
                    <p class="card-text"> </p>
                    <button class="btn btn-primary">Retirar en Dolares</button>
                </div>
             
            </div> -->
        