.dropdown { 
    position:static; 
    margin-top: 20px;
} 

.btn{
    height: 80px;
    font-size: 100%;
}
.dropdown-menu { 
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15); 
    margin-top:0px ; 
    width:97%; 
    padding-left: 20px;
} 

#ingresarDinero{
    margin-top: 80px;
}
