<app-home></app-home>

<div class="container">

    <div class="col">
        
        <div id="ingresarDinero" class="dropdown">
            <button class="btn btn-warning w-100 dropdown-toggle" type="button" data-toggle="dropdown">Ingresar Dinero
                <span class="caret"></span></button>
                <ul class="dropdown-menu p-2">
                    <li><button class="btn-secondary btn nav-link w-100 menu" (click)="ingresarPesos()">Ingresar PESOS</button></li>
                    &nbsp;
                    <li><button class="btn-secondary btn nav-link w-100 menu" (click)="ingresarDolares()">Ingresar DÓLARES</button></li>
                </ul>
        </div>

            <div id="retirarDinero" class="dropdown">
            <button class="btn btn-warning w-100 dropdown-toggle" type="button" data-toggle="dropdown">Retirar Dinero
                <span class="caret"></span></button>
                <ul class="dropdown-menu p-2">
                    <li><button class="btn-secondary btn nav-link w-100 menu"  (click)="retirarPesos()">Retirar PESOS</button></li>
                    &nbsp;
                    <li><button class="btn-secondary btn nav-link w-100 menu"  (click)="retirarDolares()">Retirar DÓLARES</button></li>
                  </ul>
        </div>

        <div id="transferencias">
            <button class="btn btn-warning w-100" type="button" routerLink="/transferencias">Transferencias</button>
        </div>

    </div>

</div>
