<div class="container-fluid bg-light">

    <h1>Recuperar contraseña</h1>

<form name="FormRecuperarPassword" [formGroup]='FormRecuperarPassword' class="bg-light">
    <!--campo email-->
    <div class="form-group row">
        <label class="col-form-label col-12">Email: <span
                class="text-danger">*</span></label>
        <div class="col-12">
            <input type="text" class="form-control" formControlName="Email" id="Email" (keyup)="validarEmail()"
        [ngClass]="{'is-invalid': (FormRecuperarPassword.controls.Email.touched || submitted)  
        && FormRecuperarPassword.controls.Email.errors}"/>

            <span class="text-danger" *ngIf="(FormRecuperarPassword.controls.Email.touched || submitted) 
                    && FormRecuperarPassword.controls.Email.errors?.required">
                Dato requerido.
            </span>
          
            <span class="text-danger" id="noMatchEmail">
            </span> 

            <!--span class="text-danger" *ngIf="(FormRegistro.controls.Email.errors?.minlength || FormRegistro.controls.Email.errors?.maxlength) ">
                Dato texto, 4 a 55 caracteres.
            </span-->

        </div>
    </div>

    <!-- Botones Grabar, Cancelar/Volver' -->
    <div class="row justify-content-center">
        <div class="container col-12">
            <button type="button" class="btn btn-primary " (click)="enviarEmail()" id="activarBoton" disabled>
                <span class="fas fa-check"></span> Enviar Email
            </button>
        </div>
    </div>    

    <div id="divMsjFormRegistro" *ngIf="submitted && FormRecuperarPassword.invalid" class="row alert alert-danger">
        <span class="fas fa-exclamation-sign"></span>{{Mensajes['RD']}}
    </div>

</form>

</div>